<!DOCTYPE html>
<html lang="en">
<head>
<title>The Happening</title>
<meta charset="utf-8">
<<<<<<< HEAD

=======
>>>>>>> fa3ec49... Final Commit
<link href="/stylesheets/reset.css" rel="stylesheet" type="text/css" media="all"/>
<link href="/stylesheets/layout.css" rel="stylesheet" type="text/css" media="all"/>
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all"/>
<script src="js/jquery-1.6.js" ></script>
<script src="js/cufon-yui.js"></script>
<script src="js/cufon-replace.js"></script>
<script src="js/NewsGoth_BT_400.font.js"></script>
<script src="js/NewsGoth_BT_700.font.js"></script>
<script src="js/jcarousellite.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.mousewheel.js"></script>
<script src="js/atooltip.jquery.js"></script>
<link rel="icon" href="images/favicon.gif" type="image/x-icon"/>
 <!--[if lt IE 9]>
 <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

<link rel="shortcut icon" href="images/favicon.gif" type="image/x-icon"/> 
<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>

<<<<<<< HEAD

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script src="js/slides.min.jquery.js"></script>
=======
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<<<<<<< HEAD
	<script src="/stylesheets/js/slides.min.jquery.js"></script>
>>>>>>> fa3ec49... Final Commit
=======
	<script src="js/slides.min.jquery.js"></script>
>>>>>>> 216399d... Added Google maps api to places search
	<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: '/stylesheets/images/loading.gif',
				play: 5000,
				pause: 2500,
				hoverPause: true
			});
		});
	</script>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<link rel="stylesheet" href="css/ie.css" type="text/css" media="all">
<![endif]-->
</head>
<body id="page1">
<div class="bg1">
  <div class="main">
    <!--header -->
    <header>
      <nav>
        <ul id="menu">
          <li><a href="/home">Home</a></li>
          <li><a href="/happening">Happening Places</a></li>
          <li><a href="/developers">Developers</a></li>
          <li><a href="/poweredBy">Powered By</a></li>
        </ul>
      </nav>
      <h1><a href="/home" id="logo">Happening feel the best</a></h1>
    </header>
    <!--header end-->
    <div class="box">
<<<<<<< HEAD
      <div class="box" style="height:500px;">
      <form action="/happeningList" method="post" onsubmit="return validateSearch(this);">
      <table>	  
			<tbody>
			<tr><h2>Select the Category & Area for The Happening place</h2></tr>
			<tr row="1">
					<td><label for="categories" style="font-size:20px;">Category:</label></td>
					<td><select id="categories" name="categories" style="background-color:#EEEEEE;color:#777777;width:180px;height:30px;font-size:20px;">
						  <option value="Restaurants">Restaurants</option>
						  <option value="Cafes">Cafe</option>
						  <option value="Bars">Bars & Lounges</option>
						  <option value="Clubs">Night Clubs</option>
						  <option value="Tourist Attractions">Tourist Attractions</option>
						  <option value="Events">Event Centers</option>
						  <option value="Theatres">Theatres</option>
						  <option value="Hotels">Hotels</option>
						  <option value="shopping center">Shopping Center</option>
					</select></td>
				<td><label for="place" style="font-size:20px;">Place : </label> </td>
				<td><input id="place" autocomplete="off" data-country="us" maxlength="45" name="place" type="text" style="background-color:#EEEEEE;color:#777777;width:180px;height:30px;font-size:20px;"/> </td>
				<td> <input name="submit" type="submit" value="Search" style="background-color:#7532A9;color:#FFFFFF; font-size:20px;width:100px; height:30px;"/> </td>
				</tr> 
				
				
				
				
			</tbody>
			</table>
			
								<section id="intro">
					   <div id="slides">
					   <div class="slides_container">
					   <a href="/happening" style="width:800px;height:350px"><img src="/stylesheets/images/img1.jpg" width="800px" height="350" alt="Bars"></a>
					   <a href="/happening" style="width:800px;height:350px"><img src="/stylesheets/images/img2.jpg" width="800px" height="350" alt="Cafes"></a>
					   <a href="/happening" style="width:800px;height:350px"><img src="/stylesheets/images/img3.jpg" width="800px" height="350" alt="Theaters"></a>
					   <a href="/happening" style="width:800px;height:350px"><img src="/stylesheets/images/img5.jpg" width="800px" height="350" alt="Restaurants"></a>
					   <a href="/happening" style="width:800px;height:350px"><img src="/stylesheets/images/img6.jpg" width="800px" height="350" alt="Hotels"></a>
					   <a href="/happening" style="width:800px;height:350px"><img src="/stylesheets/images/img7.jpg" width="800px" height="350" alt="Tourist Attractions"></a>
				
					   </div>
					   </div>
				 
				   </section>
				   <!--end intro-->
			
		</form>

    </div>
	  
		     
=======
      <h2>Happening: Feel the best At the Best Place</h2>
      <br/><br/>
	  
		     <section id="intro">
	   <div id="slides">
	   <div class="slides_container">
	   <a href="/happening" style="width:800px;height:350px"><img src="/stylesheets/images/img1.jpg" width="800px" height="350" alt="Bars"></a>
	   <a href="/happening" style="width:800px;height:350px"><img src="/stylesheets/images/img2.jpg" width="800px" height="350" alt="Cafes"></a>
	   <a href="/happening" style="width:800px;height:350px"><img src="/stylesheets/images/img3.jpg" width="800px" height="350" alt="Theaters"></a>
	   <a href="/happening" style="width:800px;height:350px"><img src="/stylesheets/images/img5.jpg" width="800px" height="350" alt="Restaurants"></a>
	   <a href="/happening" style="width:800px;height:350px"><img src="/stylesheets/images/img6.jpg" width="800px" height="350" alt="Hotels"></a>
	   <a href="/happening" style="width:800px;height:350px"><img src="/stylesheets/images/img7.jpg" width="800px" height="350" alt="Tourist Attractions"></a>

	   </div>
	   </div>
 
   </section>
   <!--end intro-->
>>>>>>> fa3ec49... Final Commit
			

    </div>
  </div>
</div>
<<<<<<< HEAD




=======
>>>>>>> fa3ec49... Final Commit
<script>
$(document).ready(function () {
    //gallery
    $("#gallery1").jCarouselLite({
        btnNext: ".next",
        btnPrev: ".prev",
        mouseWheel: true,
        vertical: true,
        circular: true,
        visible: 2,
<<<<<<< HEAD
        speed: 300,
=======
        speed: 600,
>>>>>>> fa3ec49... Final Commit
        easing: 'easeOutCirc'
    });
    Cufon.now();
})
</script>
<<<<<<< HEAD

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCg_ekHyY8_dCYCetnhiz5RQMEZG-kRSDI&libraries=places&language=en?"></script>


<link rel="stylesheet" href="/js/city-autocomplete.css">
<script src="/js/jquery.city-autocomplete.js" type="text/javascript"></script>
<script>
$('input#place').cityAutocomplete();
</script>

=======
>>>>>>> fa3ec49... Final Commit
<div align=center>Developed By Spring 2014 Software Engineering Students</div></body>
</html>
